<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TemperatureClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperatureListing">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Temp. listing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperatureData">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Temp. data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperatureLineGraph">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Temp. Line Graph
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperatureLineGraphChartJsDemo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line Graph demo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperaturePieChartJsGraph">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pie chart demo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/temperatureBlazorizeDemoGraph">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blazorize demo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/smarthousegraph.html">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SmartHouse Graph
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://smarthouseapi.slettebakk.com/api/TemperatureSensors?number=100">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SmartHouseAPI json data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TemperatureGoogleGraph">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SmartHouseGoogleGraph
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
