@page "/temperatures"
@inject HttpClient httpClient

<h1>Temperature messured</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (temperatures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>TimeStamp</th>
                <th>Last Name</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in temperatures)
            {
                <tr>
                    <td>@item.TemperatureId</td>
                    <td>@item.SensorTankTimeStamp</td>
                    <td>@item.SensorTankTemp</td>
                    <td>@item.SensorVpTurTemp</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Temperatures[] temperatures;
    string baseUrl = "https://localhost:44318/";

    protected override async Task OnInitAsync()
    {
        await load();
    }

    protected async Task load()
    {
        temperatures = await httpClient.GetJsonAsync<TemperaturesNamespace[]>($"{baseUrl}api/Temperatures");
    }
}